.wrapr{
    padding: 15px 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}
.wrapFirst{
    padding-bottom: 10px;
}
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label{
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label:before{
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #f1f1f1;
  background-color: #9DA3A7;

}
input[type="checkbox"]:not(:checked) + label:before{
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #9DA3A7;
  background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 7px;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after{
  content: "";
  position: absolute;
}


.check:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url('./checkMark.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
}

input[type="checkbox"]:not(:checked) + label:after{
  opacity: 0;

}
input[type="checkbox"]:checked + label:after{
  opacity: 1;
}
.labelCheckDisable{
  color: #9DA3A7;
}
