.wrapBlinds{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5px ;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}
.wrapper{
      border-bottom: 1px solid #EDEDED;

}
.rotate{
    transform: rotate(90deg);
    transition: 0.2s all;
}
.arrow{
    transition: 0.2s all;
    transform: rotate(0deg);
}